<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="webAppToLookFor"  value="iexplore" />
        <add key="webAppPhoneField" value="saisielibre" />
        <add key="webAppCallButton" value="bouton_appellibre" />
        <add key="siteToLoad"       value="http://phoning_simulation" />
    </appSettings>

</configuration>