<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>

        <!-- TranceLayer Logging Definition
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <section name="Logging.Config"
                 type="Logging.Config, Logging" />
    </configSections>

    <appSettings>

        <!-- Application pour scanner -->
        <add key="webAppToStart"        value="M:\JetMultiMedia\contact_agent153.exe" />
        <add key="webAppParameters"     value="-project '' -login %username% -password %username% -phone '' -server 192.168.92.2 30061 -hide_server_address -hide_server_port -hide_phone" />
        <add key="webAppLoadProfile"    value="false" />
        <add key="webAppShellExec"      value="false" />

        <add key="webAppPhoneField"     value="saisielibre" />
        <add key="webAppCallButton"     value="bouton_appellibre" />
        <add key="siteToLoad"           value="http://cas:82/s.aspx" />

        <!-- Parametrage de resolution ecran -->
        <add key="bandeauTop"       value="0" />
        <add key="bandeauLeft"      value="0" />
        <add key="bandeauWidth"     value="1280" />
        <add key="bandeauHeight"    value="220" />
        <add key="top"      value="220" />
        <add key="left"     value="0" />
        <add key="width"    value="1280" />
        <add key="height"   value="800" />

    </appSettings>

    <Logging.Config
        verbosity="eDebugs"
        persister="Logging.Adapters.Out.Log4Net"
        emergencyLogs="O:\Program Files\CASSIOPEE\Cassiopee.Desktop.Emergency.log"
        autoFlushFrequency="5"
        autoFlushUnit="m" />

</configuration>